body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: rgb(27, 161, 182);
  font-family: "Courier New", Courier, monospace;
  border: "1px solid #ccc";
}
#email {
  width: 250px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
#password {
  width: 250px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.login {
  background-color: rgb(0, 120, 215);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
button {
  margin-top: 10px;
  background-color: rgb(65, 199, 226);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(61, 116, 127);
}
